
body{
    background-color: #043580;
}
#Table_01{
    background-color: #043580;
}


/*This controls the middle spliced section*/
#headerMiddle{
    background-image: url("/images/headerSpacer.jpg") ;
}


#leftHeader{
    background-image: url("/images/topLeftSpacer.jpg");
}

/*The transparent image layer */
#imageSlide{
    background-image: url("/images/imgSlideIn.png");
    display: hide;
}

#displayInput{
    background-image: url("/images/MacSwift.jpg");
    display: show;
    text-align: center;
}


#submitButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}


p.textmiddle{
    color: #043580;
}

















