
body{
    background-color: #043580;
}
#Table_01{
    background-color: #043580;
}


/*This controls the middle spliced section*/
#headerMiddle{
    background-image: url("/images/headerSpacer.jpg") ;
}


#leftHeader{
    background-image: url("/images/topLeftSpacer.jpg");
}


#imageSlide{
    background-image: url("/images/imgSlideIn.png");

}
#hiddenAnswer{
    background-image: url("/images/MacSwift.jpg");
    width: fixed;
    height: fixed;
}
#submitButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

#hidden{
    display: show;
    z-index: 2;
}

p.textmiddle{
    color: #043580;
}

















